.App{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
}

.navbar{
  display: flex;
  justify-content: space-between;
  background-color: #34eb37;
  margin-top: 20vh;
  gap: 30px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 50vw;
  border-radius: 50px;
}

.icon div{
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  transition-duration: 0.5s;
}

.icon:hover div{
  margin-top: -50%;
  margin-bottom: 50%;
  transition-duration: 0.5s;
  background-color: beige;
  width: 100px;
  height: 100px;
  border: 10px solid black;
}

.active div{
  margin-top: -50%;
  margin-bottom: 50%;
  transition-duration: 0.5s;
  background-color: beige;
  width: 100px;
  height: 100px;
  border: 10px solid black;
}